@import 'tailwindcss';

:root {
  font-family: "Inter", "PingFang SC", "Microsoft YaHei", system-ui, -apple-system, sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #EFECE6;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #111;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #EFECE6;
  border-left: 2px solid #111;
}
::-webkit-scrollbar-thumb {
  background: #FF3B00;
  border: 2px solid #111;
}
::-webkit-scrollbar-thumb:hover {
  background: #0033FF;
}
